* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1100px;
}

header {
    background: #111;
    color: white;
    padding: 20px 0;
}

header h1 {
    float: left;
}

nav {
    float: right;
    font-size:20px;
    top: -5px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: white;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
}

#services {
    padding: 60px 0;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

#about {
    background: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}

#contact {
    padding: 60px 0;
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    border: none;
    cursor: pointer;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.logo strong {
    color: #00c6ff;
}